.titleAddNumber:hover{
color: rgb(136, 195, 246);
transition:1s;
cursor:pointer;
}

.titleOfMatter {
    transition:1s;
}
.titleOfMatter:hover {
    margin-top:5px;
    transition:1s;
    color:rgba(70, 167, 99, 0.584);
}
.Card {
    display:flex;
    justify-content: space-evenly;
    position:relative;
}

.containerOfCardNumber {
    width:60px;
    background-color: rgba(241, 230, 230, 0.281);
    border-radius: 10px;
    text-align: center;
    transition:1s;
    display:flex;
    justify-content: center;
    align-items: center;
}

.containerOfMatter {
    background-color: rgba(241, 230, 230, 0.281);
    text-align: center;
    border-radius: 10px;
    width: 400px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.containerOfCardNumber:hover{
    background-color: rgba(63, 134, 78, 0.281);
    text-align: center;
    border-radius: 15px;
    width:70px;
    transition:1s;
}
.amountNumber{
    font-size:30px;
    cursor:pointer;
}
.textCopied {
    text-transform: uppercase;
    position:absolute;
    user-select: none;
    width:100px;
    height:30px;
    border-radius:10px;
    color:rgb(203, 137, 50);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.884);
}   
